<h1> <%= @place["name"]%> </h1>

<ul>
  <h2> <%= @entry["title"] %> </h2>
  <p><%= @entry["occurred_on"]%></p>
  <li><%= @entry["description"]%></li>
</ul>

<p>
  <a href="/entries/new">New post</a>
</p>

<p>
  <a href="/places">Back to places</a>
</p>